body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(182, 226, 255);
    background-color: rgb(33, 33, 53);
    font-size: 1.2rem;
    line-height: 1.5;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.form {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
}

.value {
    font-weight: 700;
}

#status {
    max-height: 70vh;
    overflow-y: auto;
}

#status > div:first-child {
    font-weight: 700;
}
